html, body {
    height: 100%; /* Ensure html and body take full viewport height */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;                                            
}

.navbar{
    top: 0; /* Aligns the navbar to the top of the viewport */
    left: 0; /* Aligns the navbar to the left of the viewport */
    z-index: 1000; 
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box !important;
    overflow-x: hidden;
    position: sticky; /* Fixes the navbar in place */
} 
.navelements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    max-width: 100vw;
}
.navelement:nth-child(1){
    margin-left: 5%;/* Adjust spacing between elements as needed */
}
.navelement{
    margin-left: 18px;
    max-width: 100vw;
}
.navelements a{
    text-decoration: none;
    font-size: 1.06rem;
    color: #707070;
    transition: 0.2s ease;
    font-weight: 300;
    letter-spacing: 0.03em;
}
.navelements a:hover{
    color:#ebb479;
}

.contact {
    display: flex;
    align-items: center; /* Align items vertically centered */
    margin-left: auto;
    margin-right: 5%;
    gap: 10px;
}
.phone{
    height: 23px;
    cursor: pointer;
}
.menu{
    height: 40px;
    display: none;
}
.sidebar{
    display: none;
}


.next{
    background-color: white;
    width: 100%;
    height: 20px;
}
.landing-page{
    background-color:rgb(236, 233, 228);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    background-image: url(pics/villa3.jpg);
    background-color: #ece9e4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4.5%;
}

.landing-span{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .05em;
    line-height: 1.7;
    text-transform: uppercase;
}
.landing-title{
    font-family: Boowie;
    font-size: 54px;
    letter-spacing: .04em;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}
.landing-p{
    font-size: 20px;
    letter-spacing: .04em;
    font-weight: 400;
    line-height: 1.1;
    color: #fff;
}
.seemore{
    width: 125px;
    height: 125px;
    background-color: #fbe0a9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.4s ease;
}
.seemore:hover{
    background-color: #ebb479;
}
.seemore:hover p {
    color: #fff;
}
.seemore p{
    color: #707070;
    font-size: 1.05rem;
    transition: 0.4s ease;
}
.seemore a{
    text-decoration: none;
    margin-bottom: -14%;
}
#arrow{
    height: 45px;
    fill: #707070;
    transition: 0.4s ease;
}
.seemore:hover #arrow{
    fill: #fff !important;
}


.hero1-title{
    font-family: Boowie;
    font-size: 54px;
    letter-spacing: .04em;
    font-weight: 400;
    line-height: 1.2;
    color: #ADB8A2;
    margin: 0;
}
.hero1-span{
    font-size: 19px;
    letter-spacing: .04em;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 400;
    color: #707070;
}
.hero2-p{
    font-size: 17px;
    letter-spacing: .04em;
    line-height: 1.5;
    font-weight: 300;
    color: #707070;

}
.info-container{
    align-items: center;
    justify-content: space-between; /* Adjust to space-between to align items to the left and right */
    width: 100%; /* Ensure it takes up the full width of the parent */
    display: flex;
}
.hero1 {
    display: flex;
    align-items: flex-start; /* Align items to the start (left) within the column */
    flex-direction: column;
    margin-right: auto; /* Pushes the hero1 content to the left */
    margin-left: 5%;
    flex: 0 0 30%;
}
.hero2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    flex: 0 0 70%;
    margin-top: 6.6%;
}
.hero2-btn{
    padding: 15px 32px;
    border: none;
    border-radius: none;
    cursor: pointer;
    border-top: 1px solid #EBB479;
    border-bottom: 1px solid #EBB479;
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .04em;
    font-size: 16px;
    line-height: 1.4;
    color: #EBB479;
    background: transparent;
    transition: ease-in-out .3s all;
    margin-top: 1.7%;
}
.hero2-btn:hover{
    color: #fff;
    background-color: #EBB479;
}
.landing2{
    background-color: #ece9e4;
    padding-bottom: 5%;
    margin-top: 0%;
}
.listimg{
    height: 40px;
}
.list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    background-color: #ece9e4;
}
.list1, .list2 {
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 5%;
}

.listitem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}
.listinfo{
    font-size: 1.1rem;
    letter-spacing: .04em;
    line-height: 1.5;
    font-weight: 300;
    color: #707070;
}





@media (max-width: 430px) {
    .navelements{
        display: none;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 18px;
    }
    .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; /* Ensure it's positioned relative to the viewport */
        top: 10px; /* Adjust the distance from the top of the viewport */
        right: 10px; /* Adjust the distance from the right of the viewport */
        width: 50px; /* Set a fixed width */
        height: 50px; /* Set a fixed height */
        background-color: transparent; /* Optional: background color for visibility */
        z-index: 1001; /* Ensure it is above other elements */
    }
    .menu{
        display: flex;
        padding: 20px;
        height: 50px;
        cursor: pointer;
    }
    .navbar{
        display: flex;
        align-items: center;
        height: 70px;
        position: fixed;
        left: 0; /* Aligns the navbar to the left of the viewport */
        width: 100%; /* Ensures the navbar spans the full width of the viewport */
        background-color: white; /* Optional: Adds a background color to ensure readability */
        z-index: 1000; 
        top: 0; /* Aligns the navbar to the top of the viewport */
    }

    #sidebar{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: white; /* Background color for the sidebar */
        position: fixed; 
        transition: transform 0.3s ease, display 0s 0.3s; 
        transform: translateX(-100%);
    }
    #sidebar.show{
        display: flex;
        transform: translate(0);
    }
    .sidebar a{
        text-decoration: none;
        font-size: 1.06rem;
        color: #707070;
        transition: 0.2s ease;
        font-weight: 300;
        letter-spacing: 0.03em;
    }
    .sidebar a:hover{
        color:#ebb479;
    }
    .sidebar-items{
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 55px;
        flex-direction: column;
    }
    .seemore{
        width: 115px;
        height: 115px;
    }
    .landing-span{
        font-size: 14px;
    }
    .landing-title{
        font-size: 50px;
    }
    .landing-p{
        font-size: 18px;
        letter-spacing: .04em;
        font-weight: 400;
        line-height: 1.1;
        color: #fff;
    }
    .landing-page{
        margin-top: 0%;
    }

    .info-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; /* Adjust to space-between to align items to the left and right */
        width: 100%;
        text-align: center; 
        margin-top: 0%;
        padding-top: 15%;
    }
    .hero1 {
        display: flex;
        align-items: center;
        justify-content: center; /* Align items to the start (left) within the column */
        flex-direction: column;
        margin-right: auto; /* Pushes the hero1 content to the left */
        flex: 1 1 auto; /* Reset flex to auto for both elements */
        margin: 0; /* Reset margins */
        width: 100%;
    }
    .hero2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; /* Align items to the start (left) */
        width: 85%;
        margin: 0 auto;
        margin-top: 4.5%;
    }
    .hero1-title{
        font-size: 41px;
    }
    .hero1-span{
        font-size: 16px;
    }
    .list{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        background-color: #ece9e4;
        padding-top: 15%;
    }
    .list1, .list2{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .listimg{
        height: 30px;
    }
    .listinfo{
        font-size: 0.9rem;
        letter-spacing: .04em;
        line-height: 1.3;
    }
}