html, body {
    height: 100%; /* Ensure html and body take full viewport height */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;                                            
}

.navbar{
    margin-bottom: 5%;
}
.navelements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    border-bottom: 1px solid black;
}
.navelement:nth-child(1){
    margin-left: 5%;/* Adjust spacing between elements as needed */
}
.navelement{
    margin-left: 18px;
}
.navelements a{
    text-decoration: none;
    font-size: 1.06rem;
    color: #707070;
    transition: 0.2s ease;
    font-weight: 300;
    letter-spacing: 0.03em;
}
.navelements a:hover{
    color:#ebb479;
}

.contact {
    display: flex;
    align-items: center; /* Align items vertically centered */
    margin-left: auto;
    margin-right: 5%;
    gap: 10px;
}
.phone{
    height: 23px;
    cursor: pointer;
}
.menu{
    height: 40px;
    display: none;
}
.sidebar{
    display: none;
}



.hotels{
    background-color:rgb(236, 233, 228);
    width: 100%;
    height: 10px;
}




@media (max-width: 430px) {
    .navelements{
        display: none;
        padding-top: 0;
        padding-bottom: 0;
    }
    .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; /* Ensure it's positioned relative to the viewport */
        top: 10px; /* Adjust the distance from the top of the viewport */
        right: 10px; /* Adjust the distance from the right of the viewport */
        width: 50px; /* Set a fixed width */
        height: 50px; /* Set a fixed height */
        background-color: transparent; /* Optional: background color for visibility */
        z-index: 1001; /* Ensure it is above other elements */
    }
    .menu{
        display: flex;
        padding: 20px;
        height: 50px;
        cursor: pointer;
    }
    .navbar{
        display: flex;
        align-items: center;
        height: 55px;
    }
    #sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%; 
        width: 100%;
        background-color: white; /* Background color for the sidebar */
        position: fixed; 
        transition: transform 0.3s ease, display 0s 0.3s; 
        transform: translateX(-100%); /* Initially slide out of view */
    }
    #sidebar.show{
        display: flex;
        transform: translate(0);
    }
    .sidebar a{
        text-decoration: none;
        font-size: 1.06rem;
        color: #707070;
        transition: 0.2s ease;
        font-weight: 300;
        letter-spacing: 0.03em;
    }
    .sidebar a:hover{
        color:#ebb479;
    }
}